<div class="card" *ngFor="let alumno of listAlumnos" style="margin-top: 20px;">
    <div class="card-header text-center">
        {{ alumno.nombre }} : {{ alumno.estado }}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4">
                <button class="btn btn-danger btn-sm float-left">No Aprobado</button>
            </div>
            <div class="col-lg-4">
                <button class="btn btn-primary btn-sm mx-auto d-block">Aprobado</button>
            </div>
            <div class="col-lg-4">
                <button class="btn btn-success btn-sm float-right">Promocionado</button>
            </div>
        </div>
    </div>
</div>